body {
  font-family: 'open-sans', sans-serif;
  font-size: 20px;
  border: 0;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

.elemento {
  position: relative;
  height: auto;
  width: 100%;
}

.elemento.gray {
  background: #f8f8f8;
}

.elemento.white {
  background: #FFFFFF;
}

.elemento .container {
  padding: 30px;
  margin: 0 auto;
  width: 700px;
  height: 300px;
  cursor: default;
}

.elemento .container h3 {
  font-size: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.elemento .container p {
  font-size: 14px;
  color: #555;
  line-height: 1.3em;
}

.elemento .container ul {
  padding: 0;
}

.elemento .container li {
  list-style-type: none;
  padding: .2em 0;
  font-size: 14px;
  color: #555;
  transition: all 150ms ease;
}

.elemento .container .content.right {
  margin-top: 35px;
  float: right;
  width: 40%;
  padding-top: 20px;
  padding-left: 20px;
}

.elemento.white .content.right{
  border-left: 1px solid #f9f9f9; 
}

.elemento.gray .content.right{
  border-left: 1px solid #a9a9a9; 
}

.elemento .container .content.left {
  float: left;
  width: 55%;
}

.elemento hr {
  background: none;
  border: none;
  border-top: 2px dotted #444; 
  display: block;
}

.elemento .container .configuracoes li span, .elemento .container .metricas li span {
  font-weight: 600;
  font-size: 20px;
}